<style>
    p {
        font-size: 20px;
        text-align: justify;
    }
</style>
<p>Привет {{ name }}, </p>
<p>Ты получил приглашение на мероприятие от одного из пользователей!</p>
<a href="https://meetins-seven.vercel.app/">Посмотреть приглашение</a>
<p>Данное письмо не требует ответа, Вы можете просто проигнорировать его.</p>